h1,h2 {
    text-align: center;
}

body {
    background-color: #cccccc;
}
th, td {
    border-top-width: 2px;
    border-top-style: double;
    border-top-color: black;
    border-right-width: 2px;
    border-right-style: double;
    border-right-color: black;
    border-left-width: 2px;
    border-left-style: double;
    border-left-color: black;
    border-bottom-width: 2px;
    border-bottom-style: double;
    border-bottom-color: black;
}


table {
    border-collapse: collapse;
    width: 100%;
}

th {
    text-align: left;
}
ul {
    list-style-type: disc;
}